@import "tailwindcss";

@theme{
  --color-primary: #02B290;
  --color-secondary: #353535;
}

.container {width: 96%;  margin: 0 auto; }

.swiper-button-next, .swiper-button-prev {
  color: var(--color-primary);
}

.swiper-button-next,.swiper-button-prev{display: flex; align-items: center; justify-content: center; width:50px !important; height: 50px !important; background: #fff !important; border-radius: 100% !important;}
.swiper-button-next svg,.swiper-button-prev svg{color: #000 !important; width: 15px !important;}
.swiper-button-next:hover,.swiper-button-prev:hover{@apply !bg-primary}
.swiper-button-next:hover svg,.swiper-button-prev:hover svg{color: #fff !important;}

.MuiTabs-list button{font-weight: 600 !important;}
.MuiTabs-list .Mui-selected{@apply !text-primary}
.MuiTabs-indicator{ background-color: #028290 !important;}
.MuiTabScrollButton-root svg{font-size: 20px !important; width: 20px !important; height: 20px !important;}

.btn-border-g{border: 1px solid #02B290 !important; color: #02B290 !important; font-weight: 600 !important;}
.btn-border-g:hover{background: #02B290 !important; color: #fff !important; }

.btn-g{border: 1px solid #02B290 !important; color: #fff !important; font-weight: 600 !important;background: #02B290 !important; padding: 8px 15px !important;}
.btn-g:hover{background: #353535 !important; color: #fff !important; }

hr{border-color: rgba(0,0,0,0.1) !important;}
