@import "tailwindcss";

@theme{
  --color-primary: #02B290;
  --color-secondary: #353535;
}

.container {width: 96%;  margin: 0 auto; }

.swiper-button-next, .swiper-button-prev {
  color: var(--color-primary);
}

.swiper-button-next,.swiper-button-prev{display: flex; align-items: center; justify-content: center; width:50px !important; height: 50px !important; background: #fff !important; border-radius: 100% !important;}
.swiper-button-next svg,.swiper-button-prev svg{color: #000 !important; width: 15px !important;}
.swiper-button-next:hover,.swiper-button-prev:hover{@apply !bg-primary}
.swiper-button-next:hover svg,.swiper-button-prev:hover svg{color: #fff !important;}